.App {
  margin-left: 50px;
}
.App__title {
  font-size: 62px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Form*/
.Form {
  display: flex;
  flex-direction: column;

  width: 250px;
  margin-top: 150px;
}
.Form__input {
  border: 0;
  margin: 20px;
  padding: 10px;
}
.Form__button {
  width: 100px;

  font-size: 18px;
  color: white;
  background-color: rgb(31, 129, 209);
  border: 1px solid rgb(31, 129, 209);
  border-radius: 7px;

  padding: 10px;
}
.Form__button:hover {
  background-color: white;
  color: rgb(31, 129, 209);
}


/* Todo List */
.TodoList__title {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TodoList {
  list-style: none;
}

.deleteIcon {
  padding-left: 10px;
}